In [1]:
# Import, inspect and clean Kaggle dataset.
# Calculate anonalies
# Save clean dataframe as csv
import pandas as pd
import numpy as np

In [2]:
# read the dataset
data = pd.read_csv("GlobalLandTemperaturesByCountry.csv")
# inspect the dataset
print(data.head())
print(data.tail())
print(data.info())

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland
                dt  AverageTemperature  AverageTemperatureUncertainty  \
577457  2013-05-01              19.059                          1.022
577458  2013-06-01              17.613                          0.473
577459  2013-07-01              17.000                          0.453
577460  2013-08-01              19.759                          0.717
577461  2013-09-01                 NaN                            NaN

         Country
577457  Zimbabwe
577458  Zimbabwe
577459  Zimbabwe
577460  Zimbabwe
577461  Zimbabwe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.6+ MB
None

In [3]:
# investigate missing data in column "AverageTemperature"
null_data = data[data['AverageTemperature'].isnull()]
print(null_data.head())
print(null_data['Country'].unique())
print(null_data['dt'].unique())

           dt  AverageTemperature  AverageTemperatureUncertainty Country
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland
9  1744-08-01                 NaN                            NaN   Åland
['Åland' 'Afghanistan' 'Africa' 'Albania' 'Algeria' 'American Samoa'
 'Andorra' 'Angola' 'Anguilla' 'Antarctica' 'Antigua And Barbuda'
 'Argentina' 'Armenia' 'Aruba' 'Asia' 'Australia' 'Austria' 'Azerbaijan'
 'Bahamas' 'Bahrain' 'Baker Island' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia'
 'Bonaire, Saint Eustatius And Saba' 'Bosnia And Herzegovina' 'Botswana'
 'Brazil' 'British Virgin Islands' 'Bulgaria' 'Burkina Faso' 'Burma'
 'Burundi' "Côte D'Ivoire" 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Christmas Island'
 'Colombia' 'Comoros' 'Congo (Democratic Republic Of The)' 'Congo'
 'Croatia' 'Curaçao' 'Cyprus' 'Czech Republic' 'Denmark (Europe)'
 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Europe'
 'Falkland Islands (Islas Malvinas)' 'Faroe Islands'
 'Federated States Of Micronesia' 'Fiji' 'Finland' 'France (Europe)'
 'France' 'French Guiana' 'French Polynesia'
 'French Southern And Antarctic Lands' 'Gabon' 'Gambia' 'Gaza Strip'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe'
 'Guam' 'Guatemala' 'Guernsey' 'Guinea Bissau' 'Guinea' 'Guyana' 'Haiti'
 'Heard Island And Mcdonald Islands' 'Honduras' 'Hong Kong' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Isle Of Man'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kingman Reef' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg'
 'Macau' 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta'
 'Martinique' 'Mauritania' 'Mauritius' 'Mayotte' 'Moldova' 'Monaco'
 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Namibia'
 'Nepal' 'Netherlands (Europe)' 'Netherlands' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'North America'
 'North Korea' 'Northern Mariana Islands' 'Norway' 'Oceania' 'Oman'
 'Pakistan' 'Palau' 'Palestina' 'Palmyra Atoll' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Reunion' 'Romania' 'Russia' 'Rwanda'
 'Saint Barthélemy' 'Saint Kitts And Nevis' 'Saint Lucia' 'Saint Martin'
 'Saint Pierre And Miquelon' 'Saint Vincent And The Grenadines' 'Samoa'
 'San Marino' 'Sao Tome And Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Sint Maarten' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa' 'South America'
 'South Georgia And The South Sandwich Isla' 'South Korea' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Svalbard And Jan Mayen' 'Swaziland'
 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Tanzania'
 'Thailand' 'Timor Leste' 'Togo' 'Tonga' 'Trinidad And Tobago' 'Tunisia'
 'Turkey' 'Turkmenistan' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom (Europe)' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Venezuela' 'Vietnam' 'Virgin Islands' 'Western Sahara'
 'Yemen' 'Zambia' 'Zimbabwe']
['1743-12-01' '1744-01-01' '1744-02-01' ... '1894-08-01' '1894-09-01'
 '1902-12-01']

In [4]:
# drop rows where "AverageTemperature" is missing
data = data.dropna(subset=['AverageTemperature'])
print(data.info())
# inspect column Country
print(data['Country'].unique())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 544811 entries, 0 to 577460
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             544811 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  544811 non-null  float64
 3   Country                        544811 non-null  object
dtypes: float64(2), object(2)
memory usage: 20.8+ MB
None
['Åland' 'Afghanistan' 'Africa' 'Albania' 'Algeria' 'American Samoa'
 'Andorra' 'Angola' 'Anguilla' 'Antigua And Barbuda' 'Argentina' 'Armenia'
 'Aruba' 'Asia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain'
 'Baker Island' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize'
 'Benin' 'Bhutan' 'Bolivia' 'Bonaire, Saint Eustatius And Saba'
 'Bosnia And Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Bulgaria' 'Burkina Faso' 'Burma' 'Burundi' "Côte D'Ivoire" 'Cambodia'
 'Cameroon' 'Canada' 'Cape Verde' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Christmas Island'
 'Colombia' 'Comoros' 'Congo (Democratic Republic Of The)' 'Congo'
 'Costa Rica' 'Croatia' 'Cuba' 'Curaçao' 'Cyprus' 'Czech Republic'
 'Denmark (Europe)' 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic'
 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia'
 'Ethiopia' 'Europe' 'Falkland Islands (Islas Malvinas)' 'Faroe Islands'
 'Federated States Of Micronesia' 'Fiji' 'Finland' 'France (Europe)'
 'France' 'French Guiana' 'French Polynesia'
 'French Southern And Antarctic Lands' 'Gabon' 'Gambia' 'Gaza Strip'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe'
 'Guam' 'Guatemala' 'Guernsey' 'Guinea Bissau' 'Guinea' 'Guyana' 'Haiti'
 'Heard Island And Mcdonald Islands' 'Honduras' 'Hong Kong' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Isle Of Man'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kingman Reef' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg'
 'Macau' 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta'
 'Martinique' 'Mauritania' 'Mauritius' 'Mayotte' 'Mexico' 'Moldova'
 'Monaco' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique'
 'Namibia' 'Nepal' 'Netherlands (Europe)' 'Netherlands' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'North America'
 'North Korea' 'Northern Mariana Islands' 'Norway' 'Oceania' 'Oman'
 'Pakistan' 'Palau' 'Palestina' 'Palmyra Atoll' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Reunion' 'Romania' 'Russia' 'Rwanda'
 'Saint Barthélemy' 'Saint Kitts And Nevis' 'Saint Lucia' 'Saint Martin'
 'Saint Pierre And Miquelon' 'Saint Vincent And The Grenadines' 'Samoa'
 'San Marino' 'Sao Tome And Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Sint Maarten' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa' 'South America'
 'South Georgia And The South Sandwich Isla' 'South Korea' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Svalbard And Jan Mayen' 'Swaziland'
 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Tanzania'
 'Thailand' 'Timor Leste' 'Togo' 'Tonga' 'Trinidad And Tobago' 'Tunisia'
 'Turkey' 'Turkmenistan' 'Turks And Caicas Islands' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom (Europe)' 'United Kingdom'
 'United States' 'Uruguay' 'Uzbekistan' 'Venezuela' 'Vietnam'
 'Virgin Islands' 'Western Sahara' 'Yemen' 'Zambia' 'Zimbabwe']

In [5]:
# Netherlands and Netherlands (Europe), Congo (Democratic Republic Of The)' and Congo, Denmark (Europe) and Denmark,
# France (Europe) and France, United Kingdom (Europe) and United Kingdom
#rename countries that may not be identified by Tableau
data['Country'].replace({'Congo (Democratic Republic Of The)':'Congo'}, inplace=True)
# inspect the country versus country (Europe)
NL_dt = data.loc[data['Country'] == 'Netherlands', 'dt']
print(NL_dt.shape)
NL_EU_dt = data.loc[data['Country'] == 'Netherlands (Europe)', 'dt']
print(NL_EU_dt.shape)
diff = set(NL_dt) - set(NL_EU_dt)
print(len(diff))
FR_dt = data.loc[data['Country'] == 'France', 'dt']
print(FR_dt.shape)
FR_EU_dt = data.loc[data['Country'] == 'France (Europe)', 'dt']
print(FR_EU_dt.shape)
diff = set(FR_dt) - set(FR_EU_dt)
print(len(diff))
DE_dt = data.loc[data['Country'] == 'Denmark', 'dt']
print(DE_dt.shape)
DE_EU_dt = data.loc[data['Country'] == 'Denmark (Europe)', 'dt']
print(DE_EU_dt.shape)
diff = set(DE_dt) - set(DE_EU_dt)
print(len(diff))
UK_dt = data.loc[data['Country'] == 'United Kingdom', 'dt']
print(UK_dt.shape)
UK_EU_dt = data.loc[data['Country'] == 'United Kingdom (Europe)', 'dt']
print(UK_EU_dt.shape)
diff = set(UK_dt) - set(UK_EU_dt)
print(len(diff))
#drop country
data = data[data['Country'] != 'Netherlands']
data = data[data['Country'] != 'France']
data = data[data['Country'] != 'Denmark']
data = data[data['Country'] != 'United Kingdom']
print(data.head())

(3166,)
(3166,)
0
(3166,)
(3166,)
0
(2288,)
(3166,)
0
(3166,)
(3166,)
0
           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
5  1744-04-01               1.530                          4.680   Åland
6  1744-05-01               6.702                          1.789   Åland
7  1744-06-01              11.609                          1.577   Åland
8  1744-07-01              15.342                          1.410   Åland

In [6]:
# rename country(Europe) to country
data['Country'].replace({'Netherlands (Europe)':'Netherlands', 'Denmark (Europe)':'Denmark', 'France (Europe)':'France', 'United Kingdom (Europe)':'United Kingdom'}, inplace=True)
countries = set(data['Country'].unique())
print(len(countries))
print(countries)

237
{'Albania', 'El Salvador', 'Haiti', 'Saint Vincent And The Grenadines', 'Kenya', 'Malaysia', 'Greenland', 'Mayotte', 'Sierra Leone', 'Central African Republic', 'Åland', 'Belarus', 'Sao Tome And Principe', 'Iceland', 'Afghanistan', 'Turkmenistan', 'Federated States Of Micronesia', 'Tanzania', 'Colombia', 'French Southern And Antarctic Lands', 'Cyprus', 'Namibia', 'North Korea', 'Romania', 'Turks And Caicas Islands', 'Yemen', 'Canada', 'Qatar', 'Portugal', 'Brazil', 'Georgia', 'Mozambique', 'Ethiopia', 'Azerbaijan', 'Zambia', 'Bolivia', 'Vietnam', 'Kyrgyzstan', 'Samoa', 'South Africa', 'Zimbabwe', 'Guyana', 'Curaçao', 'Africa', 'Cambodia', 'Croatia', 'Uzbekistan', 'Iran', 'Guinea Bissau', 'Ireland', 'Comoros', 'Macedonia', 'Mexico', 'North America', 'Honduras', 'Saint Pierre And Miquelon', 'Kingman Reef', 'Malta', 'Guinea', 'Austria', 'Sint Maarten', 'Syria', 'Cameroon', 'Timor Leste', 'New Zealand', 'Norway', 'Palau', 'Chile', 'Liechtenstein', 'South America', 'Australia', 'Senegal', 'Moldova', 'Botswana', 'Japan', 'Saudi Arabia', 'Bahrain', 'Turkey', 'Cayman Islands', 'Saint Barthélemy', 'Philippines', 'France', 'Lebanon', 'Ukraine', 'Mauritania', 'United Arab Emirates', 'Christmas Island', 'Bonaire, Saint Eustatius And Saba', 'Tajikistan', 'Burma', 'Serbia', 'Togo', 'Libya', 'Barbados', 'Russia', 'Heard Island And Mcdonald Islands', 'Monaco', 'Kiribati', 'Mongolia', 'Guadeloupe', 'Dominica', 'Antigua And Barbuda', "Côte D'Ivoire", 'Greece', 'Europe', 'Italy', 'Niger', 'Puerto Rico', 'Anguilla', 'Nicaragua', 'Gambia', 'Guernsey', 'Denmark', 'Gaza Strip', 'Guam', 'Benin', 'Singapore', 'Venezuela', 'Spain', 'Papua New Guinea', 'Uruguay', 'Rwanda', 'Reunion', 'Gabon', 'Saint Lucia', 'Isle Of Man', 'Tonga', 'Ghana', 'Estonia', 'Jamaica', 'Mauritius', 'Palestina', 'China', 'American Samoa', 'Malawi', 'Swaziland', 'Cape Verde', 'Nigeria', 'Nepal', 'India', 'Lithuania', 'Egypt', 'Iraq', 'Kuwait', 'Palmyra Atoll', 'Falkland Islands (Islas Malvinas)', 'Latvia', 'Panama', 'Belize', 'Germany', 'South Korea', 'Belgium', 'Slovakia', 'Martinique', 'Poland', 'Saint Martin', 'United States', 'Grenada', 'Sudan', 'Bhutan', 'French Polynesia', 'Jersey', 'Trinidad And Tobago', 'Sweden', 'United Kingdom', 'Netherlands', 'Liberia', 'Pakistan', 'Dominican Republic', 'Baker Island', 'Hungary', 'French Guiana', 'Paraguay', 'Burkina Faso', 'Montenegro', 'Northern Mariana Islands', 'South Georgia And The South Sandwich Isla', 'Ecuador', 'Asia', 'Aruba', 'Congo', 'Cuba', 'Czech Republic', 'Guatemala', 'Israel', 'Bosnia And Herzegovina', 'Bangladesh', 'Somalia', 'San Marino', 'Switzerland', 'Madagascar', 'Svalbard And Jan Mayen', 'Bulgaria', 'Faroe Islands', 'Peru', 'Thailand', 'Equatorial Guinea', 'Macau', 'Niue', 'Bahamas', 'Oceania', 'Djibouti', 'Angola', 'Chad', 'Armenia', 'Fiji', 'Slovenia', 'Laos', 'Montserrat', 'Uganda', 'Virgin Islands', 'Lesotho', 'Suriname', 'Sri Lanka', 'Algeria', 'Solomon Islands', 'Western Sahara', 'Andorra', 'Jordan', 'Mali', 'Costa Rica', 'Luxembourg', 'New Caledonia', 'Burundi', 'Seychelles', 'Oman', 'Argentina', 'Taiwan', 'Tunisia', 'Eritrea', 'British Virgin Islands', 'Saint Kitts And Nevis', 'Finland', 'Kazakhstan', 'Hong Kong', 'Morocco', 'Indonesia'}

In [7]:
#drop islands
Islands = ['Åland', 'American Samoa', 'Antigua And Barbuda', 'Baker Island', 'Bonaire, Saint Eustatius And Saba', 'British Virgin Islands',
           'Burma', 'Cayman Islands', "Côte D'Ivoire", 'Curaçao', 'Falkland Islands (Islas Malvinas)', 'Faroe Islands',
           'Federated States Of Micronesia', 'French Southern And Antarctic Lands', 'Gaza Strip', 'Guernsey', 'Guinea Bissau',
           'Guadeloupe','Heard Island And Mcdonald Islands', 'Isle Of Man', 'Jersey', 'Kingman Reef', 'Macau', 'Martinique',
           'Northern Mariana Islands','Palmyra Atoll', 'Puerto Rico', 'Saint Barthélemy', 'Saint Kitts And Nevis',
           'Saint Martin', 'Saint Pierre And Miquelon', 'Saint Vincent And The Grenadines', 'San Marino', 'Sao Tome And Principe',
           'Sint Maarten', 'Sint Maarten (Dutch part)', 'South Georgia And The South Sandwich Isla','Svalbard And Jan Mayen',
           'Trinidad And Tobago', 'Turks And Caicas Islands', 'Virgin Islands']

In [8]:
data = data[~data['Country'].isin(Islands)]

In [9]:
countries = set(data['Country'].unique())
print(len(countries))
print(countries)

197
{'Albania', 'El Salvador', 'Haiti', 'Kenya', 'Malaysia', 'Greenland', 'Mayotte', 'Sierra Leone', 'Central African Republic', 'Belarus', 'Iceland', 'Afghanistan', 'Turkmenistan', 'Tanzania', 'Colombia', 'Cyprus', 'Namibia', 'North Korea', 'Romania', 'Yemen', 'Canada', 'Qatar', 'Portugal', 'Brazil', 'Georgia', 'Mozambique', 'Ethiopia', 'Azerbaijan', 'Zambia', 'Bolivia', 'Vietnam', 'Kyrgyzstan', 'Samoa', 'South Africa', 'Zimbabwe', 'Guyana', 'Africa', 'Cambodia', 'Croatia', 'Uzbekistan', 'Iran', 'Ireland', 'Comoros', 'Macedonia', 'Mexico', 'North America', 'Honduras', 'Malta', 'Guinea', 'Austria', 'Syria', 'Cameroon', 'Timor Leste', 'New Zealand', 'Norway', 'Palau', 'Chile', 'Liechtenstein', 'South America', 'Australia', 'Senegal', 'Moldova', 'Botswana', 'Japan', 'Saudi Arabia', 'Bahrain', 'Turkey', 'Philippines', 'France', 'Lebanon', 'Ukraine', 'Mauritania', 'United Arab Emirates', 'Christmas Island', 'Tajikistan', 'Serbia', 'Togo', 'Libya', 'Barbados', 'Russia', 'Monaco', 'Kiribati', 'Mongolia', 'Dominica', 'Greece', 'Italy', 'Europe', 'Niger', 'Anguilla', 'Nicaragua', 'Gambia', 'Denmark', 'Guam', 'Benin', 'Singapore', 'Venezuela', 'Spain', 'Papua New Guinea', 'Uruguay', 'Rwanda', 'Reunion', 'Gabon', 'Saint Lucia', 'Tonga', 'Ghana', 'Estonia', 'Jamaica', 'Mauritius', 'Palestina', 'China', 'Swaziland', 'Malawi', 'Cape Verde', 'Nigeria', 'Nepal', 'India', 'Lithuania', 'Egypt', 'Iraq', 'Kuwait', 'Latvia', 'Panama', 'Belize', 'Germany', 'South Korea', 'Belgium', 'Slovakia', 'Poland', 'United States', 'Grenada', 'Sudan', 'Bhutan', 'French Polynesia', 'Sweden', 'United Kingdom', 'Netherlands', 'Liberia', 'Pakistan', 'Dominican Republic', 'Hungary', 'French Guiana', 'Paraguay', 'Burkina Faso', 'Montenegro', 'Ecuador', 'Asia', 'Aruba', 'Congo', 'Cuba', 'Czech Republic', 'Guatemala', 'Israel', 'Bosnia And Herzegovina', 'Bangladesh', 'Somalia', 'Switzerland', 'Madagascar', 'Bulgaria', 'Peru', 'Thailand', 'Equatorial Guinea', 'Niue', 'Bahamas', 'Oceania', 'Djibouti', 'Angola', 'Chad', 'Armenia', 'Fiji', 'Slovenia', 'Laos', 'Montserrat', 'Uganda', 'Lesotho', 'Suriname', 'Sri Lanka', 'Algeria', 'Solomon Islands', 'Western Sahara', 'Andorra', 'Jordan', 'Mali', 'Costa Rica', 'Luxembourg', 'New Caledonia', 'Burundi', 'Seychelles', 'Oman', 'Argentina', 'Taiwan', 'Tunisia', 'Eritrea', 'Finland', 'Kazakhstan', 'Hong Kong', 'Morocco', 'Indonesia'}

In [10]:
# drop continents
Continents = ['Africa', 'Asia', 'North America', 'South America', 'Europe', 'Oceania']
data = data[~data['Country'].isin(Continents)]

In [11]:
data.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
3239,1838-04-01,13.008,2.586,Afghanistan
3241,1838-06-01,23.950,2.510,Afghanistan
3242,1838-07-01,26.877,2.883,Afghanistan
3243,1838-08-01,24.938,2.992,Afghanistan
3244,1838-09-01,18.981,2.538,Afghanistan

In [12]:
# split year and month information in separate columns
# rename first column to value
# drop first column
data['Year'] = data.iloc[:, 0].apply(lambda x: x.split("-")[0]).astype(int)
data['Month'] = data.iloc[:, 0].apply(lambda x: x.split("-")[1]).astype(int)
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 433827 entries, 3239 to 577460
Data columns (total 6 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             433827 non-null  object
 1   AverageTemperature             433827 non-null  float64
 2   AverageTemperatureUncertainty  433827 non-null  float64
 3   Country                        433827 non-null  object
 4   Year                           433827 non-null  int32
 5   Month                          433827 non-null  int32
dtypes: float64(2), int32(2), object(2)
memory usage: 19.9+ MB
None

In [13]:
# verify dates
print(data['Year'].min())
print(data['Year'].max())
year_counts = data['Year'].value_counts()
print(year_counts.unique())

1743
2013
[2304 2303 2300 2292 2290 2289 2288 2287 2286 2282 2262 2207 2197 2192
 2188 2164 2145 2140 2138 2136 2130 2128 2102 2099 2092 2001 1968 1931
 1916 1915 1890 1872 1842 1828 1783 1752 1750 1749 1746 1691 1689 1680
 1678 1664 1639 1636 1631 1619 1565 1556 1550 1512 1459 1358 1338 1332
 1312 1289 1230 1218 1207 1194 1176 1127 1079 1066 1052 1050 1033 1014
 1005  974  972  936  916  912  878  869  850  839  822  794  779  748
  747  722  720  704  691  670  666  664  658  648  644  639  636  632
  626  624  623  616  615  606  597  590  575  570  565  542  539  537
  533  532  530  528  524  516  513  510  505  504  429  312  234  156
   39]

In [14]:
data['dt'] = data['dt'].apply(lambda x: x[0:7])

In [15]:
print(data.head())

           dt  AverageTemperature  AverageTemperatureUncertainty      Country  \
3239  1838-04              13.008                          2.586  Afghanistan
3241  1838-06              23.950                          2.510  Afghanistan
3242  1838-07              26.877                          2.883  Afghanistan
3243  1838-08              24.938                          2.992  Afghanistan
3244  1838-09              18.981                          2.538  Afghanistan

      Year  Month
3239  1838      4
3241  1838      6
3242  1838      7
3243  1838      8
3244  1838      9

In [16]:
# calculate anomalies based on average over the 30-year period 1951-1980
#subset dataframe by years 1951 - 1980
data_mean = data[(data['Year'] < 1981) & (data['Year'] >= 1951)]
data_mean = data_mean.drop(['Year', 'dt', 'AverageTemperatureUncertainty'], axis=1)
#print(data_mean.shape)
#print(data_mean.head())
#print(data_mean.tail())
# calculate mean
mean = (data_mean.groupby(['Country', 'Month']).agg({'AverageTemperature': ['mean']}))
mean.columns = ['mean']
mean = mean.reset_index()
print(mean.head())
print(mean.info())
mean.to_csv('mean.csv')

       Country  Month       mean
0  Afghanistan      1   0.620000
1  Afghanistan      2   3.320033
2  Afghanistan      3   8.710067
3  Afghanistan      4  14.620067
4  Afghanistan      5  19.900000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2292 entries, 0 to 2291
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  2292 non-null   object
 1   Month    2292 non-null   int64
 2   mean     2292 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 53.8+ KB
None

In [17]:
data_merged_left = pd.merge(left=data, right=mean, how='left', left_on=['Country', 'Month'], right_on=['Country', 'Month'])

In [18]:
print(data_merged_left.shape)

(433827, 7)

In [19]:
print(data_merged_left.head())

        dt  AverageTemperature  AverageTemperatureUncertainty      Country  \
0  1838-04              13.008                          2.586  Afghanistan
1  1838-06              23.950                          2.510  Afghanistan
2  1838-07              26.877                          2.883  Afghanistan
3  1838-08              24.938                          2.992  Afghanistan
4  1838-09              18.981                          2.538  Afghanistan

   Year  Month       mean
0  1838      4  14.620067
1  1838      6  24.809933
2  1838      7  26.710067
3  1838      8  25.010067
4  1838      9  20.400033

In [20]:
print(data_merged_left.tail())

             dt  AverageTemperature  AverageTemperatureUncertainty   Country  \
433822  2013-04              21.142                          0.495  Zimbabwe
433823  2013-05              19.059                          1.022  Zimbabwe
433824  2013-06              17.613                          0.473  Zimbabwe
433825  2013-07              17.000                          0.453  Zimbabwe
433826  2013-08              19.759                          0.717  Zimbabwe

        Year  Month       mean
433822  2013      4  21.239933
433823  2013      5  18.619967
433824  2013      6  15.969933
433825  2013      7  15.870100
433826  2013      8  18.359933

In [21]:
data_merged_left['Anom'] = data_merged_left['AverageTemperature'] - data_merged_left['mean']

In [22]:
print(data_merged_left.head())

        dt  AverageTemperature  AverageTemperatureUncertainty      Country  \
0  1838-04              13.008                          2.586  Afghanistan
1  1838-06              23.950                          2.510  Afghanistan
2  1838-07              26.877                          2.883  Afghanistan
3  1838-08              24.938                          2.992  Afghanistan
4  1838-09              18.981                          2.538  Afghanistan

   Year  Month       mean      Anom
0  1838      4  14.620067 -1.612067
1  1838      6  24.809933 -0.859933
2  1838      7  26.710067  0.166933
3  1838      8  25.010067 -0.072067
4  1838      9  20.400033 -1.419033

In [23]:
data = data_merged_left

In [24]:
data.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,Year,Month,mean,Anom
0,1838-04,13.008,2.586,Afghanistan,1838,4,14.620067,-1.612067
1,1838-06,23.950,2.510,Afghanistan,1838,6,24.809933,-0.859933
2,1838-07,26.877,2.883,Afghanistan,1838,7,26.710067,0.166933
3,1838-08,24.938,2.992,Afghanistan,1838,8,25.010067,-0.072067
4,1838-09,18.981,2.538,Afghanistan,1838,9,20.400033,-1.419033

In [25]:
# calculate the difference between the anomaly ad the Average Temperature Uncertainty
data['Anom2'] = data['Anom'] - data['AverageTemperatureUncertainty']

In [26]:
data.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,Year,Month,mean,Anom,Anom2
0,1838-04,13.008,2.586,Afghanistan,1838,4,14.620067,-1.612067,-4.198067
1,1838-06,23.950,2.510,Afghanistan,1838,6,24.809933,-0.859933,-3.369933
2,1838-07,26.877,2.883,Afghanistan,1838,7,26.710067,0.166933,-2.716067
3,1838-08,24.938,2.992,Afghanistan,1838,8,25.010067,-0.072067,-3.064067
4,1838-09,18.981,2.538,Afghanistan,1838,9,20.400033,-1.419033,-3.957033

In [27]:
conditions = [(abs(data['Anom2']) <= data['AverageTemperatureUncertainty']), (abs(data['Anom2']) > data['AverageTemperatureUncertainty'])]

In [28]:
choices = [0, data['Anom2']]

In [29]:
# create new column 'Anom3' to store only those anomalies that fall out of the range of the Average Temperature Uncertainty
data['Anom3'] = np.select(conditions, choices, default=np.nan)

In [30]:
data.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,Year,Month,mean,Anom,Anom2,Anom3
0,1838-04,13.008,2.586,Afghanistan,1838,4,14.620067,-1.612067,-4.198067,-4.198067
1,1838-06,23.950,2.510,Afghanistan,1838,6,24.809933,-0.859933,-3.369933,-3.369933
2,1838-07,26.877,2.883,Afghanistan,1838,7,26.710067,0.166933,-2.716067,0.000000
3,1838-08,24.938,2.992,Afghanistan,1838,8,25.010067,-0.072067,-3.064067,-3.064067
4,1838-09,18.981,2.538,Afghanistan,1838,9,20.400033,-1.419033,-3.957033,-3.957033

In [31]:
# inform region
# create lists of countries per region
Africa = ['Botswana', 'Burundi', 'Comoros', 'Djibouti', 'Eritrea', 'Ethiopia', 'Kenya', 'Madagascar', 'Malawi',
          'Mauritius', 'Mayotte', 'Mozambique', 'Reunion', 'Rwanda', 'Seychelles', 'Somalia', 'Tanzania', 'Uganda',
          'Zambia', 'Zimbabwe', 'Angola', 'Cameroon', 'Central African Republic', 'Chad', 'Congo', 'Equatorial Guinea',
          'Gabon', 'Sao Tome', 'Principe', 'Algeria', 'Egypt', 'Libya', 'Morocco', 'South Sudan', 'Tunisia',
          'Western Sahara', 'Benin', 'Burkina Faso', 'Cape Verde', 'Cote D’Ivoire', 'Gambia', 'Ghana', 'Guinea',
          'Guinea-Bissau', 'Liberia', 'Mali', 'Mauritania', 'Niger', 'Nigeria', 'Saint Helena', 'Senegal',
          'Sierra Leone', 'South Africa', 'Togo', "Cote d'Ivoire", 'Democratic Republic of Congo', 'Lesotho', 'Namibia',
          'Sao Tome and Principe', 'Swaziland', 'Zimbabwe']
Antarctica = ['Antarctic Fisheries']
Asia = ['Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Hong Kong',
        'India', 'Indonesia', 'Japan', 'North Korea', 'South Korea',
        'Kyrgyzstan', 'Laos', 'Macao', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'Pakistan',
        'Philippines', 'Singapore', 'Sri Lanka', 'Taiwan', 'Tajikistan', 'Thailand', 'Timor Leste', 'Turkmenistan',
        'Uzbekistan', 'Vietnam', 'Turkey', 'Timor', 'Tonga', 'Afghanistan', 'Bahrain', 'Iraq', 'Iran', 'Israel',
        'Jordan', 'Kuwait', 'Lebanon', 'Oman', 'Palestine', 'Palestina', 'Qatar', 'Saudi Arabia', 'Syria', 'United Arab Emirates',
        'Yemen', 'Sudan']
America = ['Bermuda', 'Canada', 'Greenland', 'Saint Pierre', 'Miquelon', 'Mexico', 'Belize', 'Costa Rica',
                 'El Salvador', 'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama', 'United States',
                 'Aruba', 'Bahamas', 'Barbados', 'Belize', 'Dominican Republic', 'Curacao',
                 'Guyana', 'Haiti', 'Jamaica', 'OECS', 'Antigua and Barbuda', 'Dominica', 'Grenada',
                 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Suriname', 'Trinidad and Tobago',
                 'Turks and Caicos', 'Anguilla', 'Grenada', 'Montserrat', 'Saint Kitts and Nevis',
                 'Saint Pierre and Miquelon', 'Turks and Caicos Islands', 'Argentina', 'Bolivia', 'Brazil',
                  'Chile', 'Colombia', 'Ecuador', 'Falkland Islands', 'French Guiana', 'Guyana', 'Paraguay',
                  'Peru', 'Suriname', 'Uruguay', 'Venezuela', 'Cuba']

Oceania = ['Australia', 'Fiji', 'French Polynesia', 'Guam', 'Kiribati', 'The Marshall Islands',
           'Micronesia', 'New Caledonia', 'New Zealand', 'Papua New Guinea', 'Samoa', 'American Samoa',
           'Solomon Islands', 'Vanuatu', 'Christmas Island', 'Cook Islands', 'Micronesia', 'Micronesia (country)', 'Nauru', 'Niue',
           'Palau', 'Tuvalu', 'Wallis and Futuna Islands']
Europe = ['Armenia', 'Albania', 'Andorra', 'Belarus', 'Kazakhstan', 'Kyrgysztan', 'Liechtenstein', 'Macedonia', 'Monaco',
          'Montenegro', 'Serbia', 'Bosnia and Herzegovina', 'Bosnia And Herzegovina', 'Marshall Islands', 'Moldova', 'Switzerland',
          'Russia', 'Kazakhastan', 'Ukraine', 'Gibraltar', 'Azerbaijan', 'Georgia', 'Austria', 'Belgium', 'Bulgaria', 'Croatia',
          'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland',
          'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Norway', 'Poland', 'Portugal',
          'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'United Kingdom', 'Czechoslovakia']

In [32]:
data['Region'] = ''

In [33]:
data.loc[data['Country'].isin(Africa), 'Region'] = 'Africa'
data.loc[data['Country'].isin(Asia), 'Region'] = 'Asia'
data.loc[data['Country'].isin(America), 'Region'] = 'America'
data.loc[data['Country'].isin(Oceania), 'Region'] = 'Oceania'
data.loc[data['Country'].isin(Europe), 'Region'] = 'Europe'
data.head()
#data.tail()

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,Year,Month,mean,Anom,Anom2,Anom3,Region
0,1838-04,13.008,2.586,Afghanistan,1838,4,14.620067,-1.612067,-4.198067,-4.198067,Asia
1,1838-06,23.950,2.510,Afghanistan,1838,6,24.809933,-0.859933,-3.369933,-3.369933,Asia
2,1838-07,26.877,2.883,Afghanistan,1838,7,26.710067,0.166933,-2.716067,0.000000,Asia
3,1838-08,24.938,2.992,Afghanistan,1838,8,25.010067,-0.072067,-3.064067,-3.064067,Asia
4,1838-09,18.981,2.538,Afghanistan,1838,9,20.400033,-1.419033,-3.957033,-3.957033,Asia

In [34]:
data.query('Region==""')['Country'].unique()

array([], dtype=object)

In [35]:
# inform season
Summer = ['7', '8', '9']
Fall = ['10', '11', '12']
Winter = ['1', '2', '3']
Spring = ['4', '5', '6']

In [36]:
data['Season'] = ''
data.loc[data['Month'].isin(Summer), 'Season'] = 'summer'
data.loc[data['Month'].isin(Fall), 'Season'] = 'fall'
data.loc[data['Month'].isin(Winter), 'Season'] = 'winter'
data.loc[data['Month'].isin(Spring), 'Season'] = 'spring'

In [37]:
data.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,Year,Month,mean,Anom,Anom2,Anom3,Region,Season
0,1838-04,13.008,2.586,Afghanistan,1838,4,14.620067,-1.612067,-4.198067,-4.198067,Asia,spring
1,1838-06,23.950,2.510,Afghanistan,1838,6,24.809933,-0.859933,-3.369933,-3.369933,Asia,spring
2,1838-07,26.877,2.883,Afghanistan,1838,7,26.710067,0.166933,-2.716067,0.000000,Asia,summer
3,1838-08,24.938,2.992,Afghanistan,1838,8,25.010067,-0.072067,-3.064067,-3.064067,Asia,summer
4,1838-09,18.981,2.538,Afghanistan,1838,9,20.400033,-1.419033,-3.957033,-3.957033,Asia,summer

In [38]:
data.to_csv('anomalies.csv')